@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto');

#headerlogo{width:4rem; height:4rem;  display: block; float: left; padding-right: 1rem;}

#star{width:5rem; height:5rem;  display: block; float: left; padding-right: 1rem; padding-left: 9rem; padding-top: 1rem;}

#bear{width:12rem; height:6rem;  display: block; float: center; padding-right: 1rem; padding-left: 5rem; padding-top: 6rem;}



h1{color:#32004b;font-size:2.5rem;font-family:"Roboto";line-height:1.15; padding-top: .5rem;}

.subtitle{padding-top:0pt;color:#000000;font-size:1rem;padding-bottom:3rem;font-family:"Rubik";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;}

#container{width:30rem; padding-bottom:1rem;padding-top:0rem; margin: auto;}

#contain_bear{width:50rem; padding-bottom:4rem;padding-top:0rem; margin: auto; background-color:#f1c232ff}


a {color:#32004b;font-family:"Arial"; font-size: 1.8rem; text-decoration: none; padding-left: 6rem;}

smalltextbear {color:#32004b;font-family:"Arial"; font-size: 1.3rem; text-decoration: none; padding-left: 6rem; padding-top:-10px;}

p1 {color:#ffffff;font-family:"Arial"; font-size: 1.8rem; text-decoration: none; padding-left: 6rem;}





form {background-color: #32004b; font-family: 'Arial'; width: 38rem; height: 44px; display: flex; flex-direction: row;}

input { all: unset; color: #ffffff;height: 100%; width: 100%; padding: 6px 10px;}

::placeholder {color: #ffffff;
  opacity: 0.7; }


