@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto');

#headerlogo{width:4rem; height:4rem;  display: block; float: left; padding-right: 1rem;}

#star{width:5rem; height:5rem;  display: block; float: left; padding-right: 1rem; padding-left: 8rem; padding-top: 1rem;}

#bear{width:12rem; height:6rem;  display: block; float: center; padding-right: 0rem; padding-left: 0rem; padding-top: 6rem;}

#heads{width:12rem; height:12rem;  display: block; float: left; padding-right: 1rem;}

#heads2{width:3rem; height:3rem;  display: block; float: left;}


#government{width: 633px; height: 266px;}

#houses{width: 250px; height: 143px;}





h1{color:#32004b;font-size:2.5rem;font-family:"Roboto";line-height:1.15; padding-top: .5rem;}

h{color:#32004b;font-size:2rem;font-family:"Roboto";line-height:1.15; padding-top: .5rem;}

.subtitle{padding-top:0pt;color:#000000;font-size:1rem;padding-bottom:3rem;font-family:"Rubik";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;}

#container{width:30rem; padding-bottom:1rem;padding-top:0rem; margin: auto;}

#contain_bear{width:50rem; padding-bottom:4rem;padding-top:0rem; margin: auto; background-color:#f1c232ff}

#contain-rep{width:50%; padding-bottom:1rem;padding-top:2rem; padding-left:10rem; margin: auto; float:left; }

#map{width:30%; padding-bottom:1rem;padding-top:0rem; float: right; }

#How{width:23%; padding-bottom:1rem;padding-top:0rem; float: left; background-color:#32004b; padding-left: 2rem; padding-right:1rem;  }

#What{width:23%; padding-bottom:1rem;padding-top:0rem;  float: left; background-color:#32004b; padding-left: 2rem; padding-right:2rem; }

#You{width:20%; padding-bottom:1rem;padding-top:0rem; float: right; background-color:#5a0485;padding-left: 2rem; padding-right:2rem; }

#container2{width:40%; padding-bottom:1rem;padding-top:1rem; padding-left:1rem; padding-right:1rem; margin: auto; background-color: white;}

#StoneBills{width:26%; padding-bottom:1rem;padding-top:1rem;  float: left; background-color:#d9ead3; padding-left: 1rem; padding-right:1rem; }

#LairdBills{width:25%; padding-bottom:1rem;padding-top:1rem; float: left; background-color:#fff2cc; padding-left: 1rem; }

#Newsom{width:25%; padding-bottom:1rem;padding-top:1rem; float: right; background-color:#ead1dcff; padding-left: 1rem; }


#thebigboi{width:90%; padding-bottom:1rem;padding-top:2rem; float:center; }




assem { 
  background-color: #d9ead3;
  color: black;}

sen { 
  background-color: #fff2cc;
  color: black;}


a {color:#ffffff;font-family:"Arial"; font-size: 1.8rem; text-decoration: none; padding-left: 6rem;}

a1 {color:#ffffff;font-family:"Arial"; font-size: 1.8rem; text-decoration: none; }


w{ color: #ffffff; font-family:"Arial"; font-size: 1.8 rem;}

w1{ color: #000000; font-family:"Arial"; font-size: 1.8 rem;}

w2{ color: #000000; font-family:"Arial"; font-size: 1.8 rem; float:center;}

w3{ color: #000000; font-family:"Arial"; font-size: 1rem; float:center; padding-top:2rem;}


lucy{ color: #000000; font-family:"Arial"; font-size: 2rem; float:center;}




smalltextbear {color:#ffffff;font-family:"Arial"; font-size: 1.3rem; text-decoration: none; padding-left: 6rem; padding-top:-10px;}

p1 {color:#ffffff;font-family:"Arial"; font-size: 1.8rem; text-decoration: none; padding-left: 6rem;}

.button {
  background-color: #c19613ff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form {background-color: #ffffff; font-family: 'Arial'; width: 38rem; height: 44px; display: flex; flex-direction: row; }


input { all: unset; color: #000000;height: 100%; width: 100%; padding: 6px 10px;}

::placeholder {color: #777777;
  opacity: 0.7; }



.button2 {
  background-color: #f1c232ff;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0px;
  margin: 0px;
  cursor: pointer;
}


.button3 {
  background-color: #32004b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 10px;
  border-radius: 16px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}
